@import "tailwindcss";


body
{
    background-color: #F4F5F7;
    font-family: 'Inter', sans-serif;
    
    
}

.input
{
    @apply px-4 py-3 border
          focus:ring-2 focus:ring-green-500  focus:outline-none
            border-gray-400 rounded-4xl text-sm hover:border-gray-600

}